<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{Paragraph}}</title>
    </head>
    <body>
        {{> header}}
        {{> welcome}}
        {{> footer}}
    </body>
</html>